/* Reset and global styles */
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(0, #00FF66, #00FF66);
  height: 100vh;
  position: relative;
  font-family: 'Syne', sans-serif;
  overflow: hidden;
}

.create-account-page-container {
  display: flex;
  height: 100vh;
}

.left-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 40px;
  height: 100%;
  width: 33%;
}

.left-panel img {
  max-width: 100%;
  max-height: 200px;
  height: auto;
}

.motto {
  text-align: center;
  font-size: 6rem;
  color: #fff;
}

.right-panel {
  width: 67%;
  height: 100%;
  background-color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-panel h1 {
  margin-bottom: 20px;
  text-align: center;
}

.right-panel form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-panel .input-container {
  width: 80%;
  margin-bottom: 20px;
  position: relative;
}

.right-panel .input-container label {
  position: absolute;
  top: -10px;
  left: 10px;
  background: white;
  padding: 0 5px;
  font-size: 12px;
  color: #666;
}

.right-panel .input-container input,
.right-panel .input-container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.right-panel .password-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.right-panel .password-container .input-half {
  width: calc(50% - 5px);
}

.right-panel .signup-button {
  background-color: #00FF66;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  font-family: 'Syne', sans-serif;
  align-self: center;
}

.right-panel .login-text {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.right-panel .login-text a {
  color: #04BA00;
  text-decoration: none;
}

.right-panel .login-text a:hover {
  text-decoration: underline;
}

.google-button {
  background-color: #04BA00;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px; 
  cursor: pointer;
  border-radius: 30px;
  margin-top: 20px;
  font-family: 'Syne', sans-serif;
  align-self: center;
}

.line-break {
  width: 50%;
  height: 1px;
  background-color: #ccc;
  margin: 20px 0;
}
